# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment directories
env/
venv/
.venv/
*venv/

# VSCode project files
.vscode/

# PyCharm project files
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# FastAPI OpenAPI and Swagger documentation
*.openapi.json

# Temporary files
*.tmp
*.log
*.lock
*.pid
*.swp
*.swo
*.bak
*.orig
*.save

# Jupyter Notebook
.ipynb_checkpoints

# MacOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE config files
*.idea/

# Local environment files
.env
.env.*
#dont ignore .env.example file 
!.env.example
*.envrc

# Database files
*.sqlite3
*.db
*.pdb

# Logs
logs/
*.log

